.date-time {
  width: 650px;
  overflow: hidden;
  height: 650px;
  border-radius: 50%;
  border: 50px double;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 2%;
}
.black { 
  border-color: rgba(226, 226, 222, 0.144) !important;
  background: black !important;
}
.beige {
  border-color: rgba(17, 17, 17, 0.644) !important;
  background: beige !important;
}
.date-time h5 {
  letter-spacing: 3px;
}
.time {
  font-size: 90px;
  font-weight: bold;
}
.seconds {
  font-size: 40px;
}
.clock {
  padding-bottom: 30px;
}

.title-clock {
  margin-top: 20px;
  font-size: 50px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
}
.title-clock-black {
  background-color: beige;
  color: black;
  box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -moz-box-shadow: 5px 5px 17px 4px (245, 245, 220, 0.5);
}
.title-clock-beige {
  background-color: black;
  color: beige;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}

.wrapper {
  border: 5px solid;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
}
.wrapper-black {
  border-color: beige;
  box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -moz-box-shadow: 5px 5px 17px 4px (245, 245, 220, 0.5);
  color: beige;
}

.wrapper-beige {
  color: black;
  border-color: black;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}

.hour-converter-btn {
  font-size: 50px;
  border-radius: 50px;
  padding: 15px;
  height: 150px;
  font-family: "DSEG14-Classic";
  border: transparent;
  font-weight: bold;
}
.btn-beige {
  background-color: black;
  color: beige;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}

.btn-black {
  background-color: beige;
  color: black;
  box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -moz-box-shadow: 5px 5px 17px 4px (245, 245, 220, 0.5);
}
.date {
  margin-top: 1px;
  font-size: 40px;
  word-spacing: 10px;
}

.period {
  font-size: 60px;
  padding-left: 20px;
}

.clock-btn {
  border: none;
  border-radius: 30px;
  margin: 0%;
  font-size: 25px;
}
.alarm {
  font-size: 100px;
  margin-top: 10.5%;
  font-weight: bold;
}
.time-alarm {
  font-size: 50px;
  font-weight: bold;
}
.second-alarm {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}
.period-alarm {
  font-size: 30px;
  margin-left: 10px;
}
.alarm-time {
  margin-top: 5%;
}
.alarm-time-black {
  color: beige;
}
.alarm-time-beige {
  color: black;
}
.alarm-time-btn {
  font-size: 25px;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 4px;
  padding: 15px;
  height: 150px;
  font-family: "DSEG14-Classic";
  border: transparent;
}

.timer {
  font-size: 100px;
  margin-top: 26%;
  font-weight: bold;
}
.nano-second-timer {
  font-size: 50px;
}
.timer-time-btn {
  font-size: 25px;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 4px;
  padding: 15px;
  height: 150px;
  font-family: "DSEG14-Classic";
  border: transparent;
}
.pause-time {
  font-size: 50px;
}
@media only screen and (max-width: 1200px) {
  .date-time {
    margin: 50% auto;
  }
}

/* Small tablets to big tablets: from 768 to 1032*/
@media only screen and (max-width: 1032px) {
  .date-time {
    margin: 5% 10%;
  }
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .date-time {
    margin: 25% auto;
    width: 350px;
    overflow: hidden;
    height: 350px;
    border: 30px double black;
  }
  .title-clock {
    font-size: 25px;
    padding: 10px;
  }
  .date {
    font-size: 20px;
    word-spacing: 5px;
  }
  .time {
    font-size: 50px;
  }
  .seconds {
    font-size: 25px;
  }
  .period {
    font-size: 30px;
    padding-left: 10px;
  }
  .hour-changer {
    font-size: 30px;
    padding: 15px;
    height: 65px;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  /* CLOCK */
  .date-time {
    margin: 25% 0%;
    width: 300px;
    overflow: hidden;
    height: 300px;
    border: 30px double;
  }
  .time {
    font-size: 30px;
    font-weight: bold;
  }
  .seconds {
    font-size: 20px;
  }
  .period {
    font-size: 25px;
    padding-left: 10px;
  }
  .clock {
    padding-bottom: 10px;
  }
  .title-clock {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
  }
  .wrapper {
    margin-bottom: 10px;
    margin-left: 10%;
    margin-top: 5%;
  }
  .hour-converter-btn {
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    height: 80px;
    font-family: "DSEG14-Classic";
    border: transparent;
    font-weight: bold;
  }
  /* ALARM */
  .alarm {
    font-size: 35px;
    margin-top: 10.5%;
    font-weight: bold;
    padding-top: 9px;
  }
  .time-alarm {
    font-size: 20px;
    font-weight: bold;
  }
  .second-alarm {
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
  }
  .alarm-time-btn {
    font-size: 15px;
    padding: 10px;
    height: 70px;
  }
  /* TIMER */
  .timer {
    font-size: 35px;
    padding-top: 6px;
    font-weight: bold;
  }
  .nano-second-timer {
    font-size: 20px;
  }
  .timer-time-btn {
    font-size: 15px;
    padding: 10px;
    height: 70px;
  }
  .pause-time {
    font-size: 25px;
  }
}
