.date-time {
  font-family: "DSEG14-Classic";
  width: 650px;
  overflow: hidden;
  height: 650px;
  border-radius: 50%;
  border: 50px double black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.date-time h5 {
  letter-spacing: 3px;
  color: rgb(0, 0, 0);
}
.time {
  font-size: 90px;
  color: black;
  font-weight: bold;
}
.seconds {
  font-size: 40px;
}
.title-clock {
  margin-top: 20px;
  background-color: black;
  font-size: 50px;
  padding: 20px;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}
.wrapper {
  border: 5px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-top: 10%;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  width: 80%;
}
.hour-changer {
  font-size: 50px;
  border-radius: 50px;
  padding: 15px;
  height: 150px;
  background-color: black;
  font-family: "DSEG14-Classic";
  border: transparent;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}

.date {
  margin-top: 1px;
  font-size: 40px;
  word-spacing: 10px;
}

.period {
  font-size: 60px;
  padding-left: 20px;
}
.clock-gadgets {
  border: 15px solid black;
  border-radius: 100%;
  width: 700px;
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
}
.clock-btn {
  border: none;
  border-radius: 30px;
  margin: 0%;
  font-size: 25px;
}
.alarm {
  font-size: 100px;
  margin-top: 10.5%;
}
.time-alarm {
  font-size: 50px;
  font-weight: bold;
}
.second-alarm {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}
.period-alarm {
  font-size: 30px;
  margin-left: 10px;
}
.alarm-time {
  margin-top: 5%;
}
.alarm-time-btn {
  font-size: 25px;
  border-radius: 50px;
  margin-left: 4px;
  padding: 15px;
  height: 150px;
  background-color: black;
  font-family: "DSEG14-Classic";
  border: transparent;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}
@media only screen and (max-width: 1200px) {
  .date-time {
    margin: 50% auto;
  }
}

/* Small tablets to big tablets: from 768 to 1032*/
@media only screen and (max-width: 1032px) {
  .date-time {
    margin: 5% 10%;
  }
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .date-time {
    margin: 25% auto;
    width: 350px;
    overflow: hidden;
    height: 350px;
    border: 30px double black;
  }
  .title-clock {
    font-size: 25px;
    padding: 10px;
  }
  .date {
    font-size: 20px;
    word-spacing: 5px;
  }
  .time {
    font-size: 50px;
  }
  .seconds {
    font-size: 25px;
  }
  .period {
    font-size: 30px;
    padding-left: 10px;
  }
  .hour-changer {
    font-size: 30px;
    padding: 15px;
    height: 65px;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  .date-time {
    margin: 25% 0%;
    width: 300px;
    overflow: hidden;
    height: 300px;
    border: 30px double black;
  }
  .title-clock {
    font-size: 20px;
    padding: 10px;
  }
  .date {
    font-size: 15px;
    word-spacing: 5px;
  }
  .time {
    font-size: 40px;
  }
  .seconds {
    font-size: 20px;
  }
  .period {
    font-size: 25px;
    padding-left: 10px;
  }
  .hour-changer {
    font-size: 25px;
    padding: 15px;
    height: 60px;
  }
}
