.date-time {
  width: 35vw;
  height: 35vw;
  overflow: hidden;
  border-radius: 50%;
  border: 3vw double;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 1vw;
}
.black { 
  border-color: rgba(226, 226, 222, 0.144) !important;
  background: black !important;
}
.beige {
  border-color: rgba(17, 17, 17, 0.644) !important;
  background: beige !important;
}
.date-time h5 {
  letter-spacing: 3px;
}
.time {
  font-size: 5vw;
  font-weight: bold;
}
.seconds {
  font-size: 3vw;
}
.clock {
  border: 5px solid transparent;
  text-align: center !important;
}

.title-clock {
  margin-top: 5%;
  font-size: 2.5vw;
  padding: 3%;
  cursor: pointer;
  font-weight: bold;
}
.title-clock-black {
  background-color: beige;
  color: black;
  box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -moz-box-shadow: 5px 5px 17px 4px (245, 245, 220, 0.5);
}
.title-clock-beige {
  background-color: black;
  color: beige;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}

.wrapper {
  border: 5px solid;
  border-radius: 20px;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
  text-align: center !important;
}
.wrapper-black {
  border-color: beige;
  box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -moz-box-shadow: 5px 5px 17px 4px (245, 245, 220, 0.5);
  color: beige;
}

.wrapper-beige {
  color: black;
  border-color: black;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}

.hour-converter-btn {
  font-size: 2.5vw;
  border-radius: 50px;
  padding: 1.8vw;
  font-family: "DSEG14-Classic";
  border: transparent;
  font-weight: bold;
}
.btn-beige {
  background-color: black;
  color: beige;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}

.btn-black {
  background-color: beige;
  color: black;
  box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(245, 245, 220, 0.5);
  -moz-box-shadow: 5px 5px 17px 4px (245, 245, 220, 0.5);
}
.date {
  margin-top: 1px;
  font-size: 2vw;
  word-spacing: 10px;
}

.period {
  font-size: 4vw;
  padding-left: 20px;
}

.alarm {
  font-size: 5vw;
  margin-top: 9.5%;
  font-weight: bold;
}
.time-alarm {
  font-size: 3vw;
  font-weight: bold;
}
.second-alarm {
  font-size: 2vw;
  font-weight: bold;
  margin-left: 10px;
}
.alarm-time {
  margin-top: 5%;
}
.alarm-time-black {
  color: beige;
}
.alarm-time-beige {
  color: black;
}
.alarm-time-btn,.timer-time-btn  {
  font-size: 1.6vw;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 4px;
  padding: 2vw;
  font-family: "DSEG14-Classic";
  border: transparent;
}

.timer {
  font-size: 5vw;
  margin-top: 26.2%;
  font-weight: bold;
}
.nano-second-timer {
  font-size: 3vw;
}
.pause-time {
  font-size: 3vw;
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  /* CLOCK */
  .date-time {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 340px;
    overflow: hidden;
    height: 340px;
    border: 30px double;
  }
  .date {
    font-size: 24px;
    word-spacing: 5px;
  }
  .time {
    font-size: 40px;
    font-weight: bold;
  }
  .seconds {
    font-size: 30px;
  }
  .period {
    font-size: 35px;
    padding-left: 15px;
  }
  .clock {
    padding-bottom: 15px;
  }
  .title-clock {
    margin-top: 20px;
    font-size: 27px;
    padding: 10px;
  }
  .wrapper {
    margin-bottom: 10px;
    margin-left: 10%;
    margin-top: 5%;
  }
  .hour-converter-btn {
    font-size: 25px;
    border-radius: 50px;
    padding: 15px;
    height: 80px;
    font-family: "DSEG14-Classic";
    border: transparent;
    font-weight: bold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
  /* ALARM */
  .alarm {
    font-size: 45px;
    margin-top: 10.5%;
    font-weight: bold;
    padding-top: 9px;
  }
  .time-alarm {
    font-size: 30px;
    font-weight: bold;
  }
  .second-alarm {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
  }
  .alarm-time-btn {
    font-size: 15px;
    padding: 10px;
    height: 70px;
  }
  /* TIMER */
  .timer {
    font-size: 45px;
    padding-top:4.8%;
    font-weight: bold;
  }
  .nano-second-timer {
    font-size: 25px;
  }
  .timer-time-btn {
    font-size: 15px;
    padding: 10px;
    height: 70px;
  }
  .pause-time {
    font-size: 30px;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  /* CLOCK */
  .date-time {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    overflow: hidden;
    height: 280px;
    border: 30px double;
  }
  .date {
    font-size: 18px;
    word-spacing: 5px;
  }
  .time {
    font-size: 30px;
    font-weight: bold;
  }
  .seconds {
    font-size: 20px;
  }
  .period {
    font-size: 25px;
    padding-left: 10px;
  }
  .clock {
    padding-bottom: 10px;
  }
  .title-clock {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
  }
  .wrapper {
    margin-bottom: 10px;
    margin-left: 10%;
    margin-top: 5%;
  }
  .hour-converter-btn {
    font-size: 20px;
    border-radius: 50px;
    padding: 15px;
    height: 80px;
    font-family: "DSEG14-Classic";
    border: transparent;
    font-weight: bold;
  }
  /* ALARM */
  .alarm {
    font-size: 30px;
    margin-top: 10.5%;
    font-weight: bold;
    padding-top: 9px;
  }
  .time-alarm {
    font-size: 20px;
    font-weight: bold;
  }
  .second-alarm {
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
  }
  .alarm-time-btn {
    font-size: 13px;
    padding: 10px;
    height: 50px;
  }
  /* TIMER */
  .timer {
    font-size: 35px;
    margin-top: 22%;
    font-weight: bold;
  }
  .nano-second-timer {
    font-size: 20px;
  }
  .timer-time-btn {
    font-size: 13px;
    padding: 10px;
    height: 50px;
  }
  .pause-time {
    font-size: 25px;
  }
}
