@import url(https://fonts.googleapis.com/css?family=Lato:700);

.ribbon {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: -50px;
  top: 40px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  display: block;
  font: bold 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}
