.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
}

.footer a {
  text-decoration: none;
  color: rgb(43, 39, 39);
}

.footer-text1{
  color: black ;
}

.footer-text2{
  color: beige ;
}
