.home {
  width: 100%;
  text-align: center !important;
  overflow: hidden;
  text-align: center;
  margin-top: 10px;
}

.colors {
  padding: 15px;
  float: left;
}

.btn-color {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border: transparent;
  box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 5px 5px 17px 4px rgba(0, 0, 0, 0.43);
}


